#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Always enable colored `grep` output.
export GREP_OPTIONS='--color=auto';

export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad

export PATH=/opt/boxen/homebrew/bin:/Users/compass/tools/pear/bin:$PATH

export EC2_HOME=/Users/compass/tools/ec2-api-tools
export JAVA_HOME=$(/usr/libexec/java_home)

export RBENV_ROOT="${HOME}/.rbenv"

if [ -d "${RBENV_ROOT}" ]; then
    export PATH="${RBENV_ROOT}/bin:${PATH}"
    eval "$(rbenv init -)"
fi

#export DOCKER_HOST=tcp://docker.ctlt.ubc.ca:4243
#export DOCKER_HOST=tcp://10.93.2.186:4243
source /opt/boxen/env.sh
source /opt/boxen/homebrew/opt/autoenv/activate.sh

export PYENV_VIRTUALENVWRAPPER_PREFER_PYVENV="true"
export WORKON_HOME=/opt/python
export VIRTUALENVWRAPPER_HOOK_DIR=/opt/python
export PROJECT_HOME=$HOME/projects
source /opt/python/2.7/bin/virtualenvwrapper.sh

export DYLD_LIBRARY_PATH=/opt/oracle/instantclient_11_2:$DYLD_LIBRARY_PATH
export PATH=/opt/oracle/instantclient_11_2:$PATH

export GOPATH=$HOME/temp/go
export GOBIN=$GOPATH/bin
export PATH=$PATH:$GOBIN

if [ -f ".export_local" ]; then
    source .export_local
fi
